<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="description.descriptionForm" label="Description">
    <app-description #description></app-description>
  </mat-step>
  <mat-step [stepControl]="variables.variablesForm" label="Variables">
    <app-variables #variables></app-variables>
  </mat-step>
  <mat-step [stepControl]="evaluation.evaluationForm" label="Evaluation">
    <app-evaluation #evaluation></app-evaluation>
  </mat-step>
  <mat-step [stepControl]="duration.durationForm" label="Duration">
    <app-duration #duration></app-duration>
  </mat-step>
  <mat-step >
    <ng-template matStepLabel>Confirmation</ng-template>
    <div class="content-confirmation">
      <h1>The form is now completed.</h1>
      <h2>Do you confirm the submission of the form?</h2>
      <div>
        <button mat-raised-button (click)="stepper.reset()">Reset</button>
        <button mat-raised-button (click)="getProblem()">Confirm</button>
      </div>
    </div>



  </mat-step>
</mat-horizontal-stepper>
