mat-form-field* {
  width: 100%;
}

.task-row {
  display: flex;
  flex-direction: row;
}

.task-name-header {
  flex: 3;
  display: flex;
  justify-content: center;
}
.task-quantity-header {
  flex: 3;
  display: flex;
  justify-content: center;
}
.task-cost-header {
  flex: 3;
  display: flex;
  justify-content: center;
}
.task-description-header {
  flex: 5;
  display: flex;
  justify-content: center;
}
.task-delete-header {
  flex: 1;
  display: flex;
  justify-content: center;
}

.task-name {
  flex: 2;
  display: flex;
  justify-content: center;
}
.task-quantity {
  flex: 2;
  display: flex;
  justify-content: center;
}
.task-cost {
  flex: 2;
  display: flex;
  justify-content: center;
}
.task-description {
  flex: 4;
  display: flex;
  justify-content: center;
}
.task-delete {
  flex: 1;
  display: flex;
  justify-content: center;
}
