<ng-container *ngFor="let solutionData of solutionsData; let i = index">
  <h2>Solution {{ i + 1 }}:</h2>

  <google-chart
    style="width: 100%;"
    [type]="chartType"
    [data]="solutionData"
    [formatters]="myFormatters">
  </google-chart>

  <h3>Objectives:</h3>
  <ng-container *ngFor="let objective of order.solutions[i].objectives">
    <h4>{{ objective.name | titlecase }}: {{ objective.value }}</h4>
  </ng-container>
  <ng-container *ngIf="solutionsData.length > 1">
    <hr>
  </ng-container>
</ng-container>
