<h1>Developed by: Monserrat-14</h1>

<h2>Who are we?</h2>

<div class="list-team">

  <div class="elem-team">
    <h3>Diogo Fernandes</h3>
    <p>Diogo Fernandes received the B.S. (2019) in Computer Engineering from University of Lisbon. In the same year he
      joined Capgemini Portugal as a developer. He has been envolved in two projects, being the main responsible, in the
      lastest, with developing the whole front office of an application. His research interests include system
      architectures, modern frontend frameworks, micro-services architecture and system and stack integration. He is
      currently taking his M.S. in Informatics Engineering from ISCTE-IUL (Lisbon, Portugal).</p>
  </div>
  <br>
  <div class="elem-team">
    <h3>Francisco Cordeiro</h3>
    <p>Francisco Cordeiro received the B.S. (2020) in Computer Engineering from Universidade Europeia.
      In the same year he joined Link Consulting as a developer.
      His interests include smart systems, systems security and IOT.
      He is currently taking M.S. in Computer Engineering from ISCTE-IUL.</p>
  </div>
  <br>
  <div class="elem-team">
    <h3>Henrique Cabral</h3>
    <p>Henrique Cabral is currently taking his Master(MSc) in Computer Engineering in ISCTE-IUL and he is Software
      Engineer at Talkdesk. He started working as Salesforce Developer three years ago after he finished his Bachelor's
      Degree in Informatics Engineering at University of Coimbra. In the meanwhile he works at two different companies
      as IT Consultant. The software is in his life since 2008, when he chose a programming course in high school. </p>
  </div>
  <br>
  <div class="elem-team">
    <h3>Sebastian Cheregi</h3>
    <p>Sebastian Cheregi received the B.S (2017) in Informatics Engineering from Polytechnic Institute of Setúbal. He
      worked at GFI Portugal as a Software Developer where he been envolved in a Software Maintenance and Evolution
      project. In 2019 he joined Deloitte Portugal as a Programmer where he has been involved in several projects and
      Proof of Concepts. He is also an internal trainer at Deloitte in Java/Selenium and Automation Testing. His
      interests include Mobile Development, Algorithms, Artificial Intelligence, System architecture and micro-services.
      Currently he is taking his M.S. in Informatics Engineering from ISCTE-IUL.</p>
  </div>

</div>
