<div style="display: flex; justify-content: flex-start; margin-bottom: 50px; align-items: center;">
<img src="assets/montserrat-espanha.jpg" alt="Montserrat" style="height: 100px; border-radius: 100%; margin-right: 20px;">
<h1>Monserrat-14</h1>
</div>


<p class="icon-line">Organization GitHub:
  <a href="https://github.com/Montserrat-14/" target="_blank" class="img-contacts">
    <img src="assets/github.png" alt="GitHub Repo" class="icon-contacts">
  </a>
</p>
<p class="icon-line">Front-end Docker:
  <a href="https://hub.docker.com/r/diogomfernandes/scheduling-optimizer-ui" target="_blank" class="img-contacts">
    <img src="assets/docker.png" alt="Docker Hub Repo" class="icon-contacts">
  </a>
</p>
<p class="icon-line">Back-end Docker:
  <a href="https://hub.docker.com/r/henriquepcabral/system-optimizer-api" target="_blank" class="img-contacts">
    <img src="assets/docker.png" alt="Docker Hub Repo" class="icon-contacts">
  </a>
</p>

<div class="list-team">
  <div class="elem-team">
    <h2>Diogo Fernandes</h2>
    <p>Email: <a href="mailto:diogormsf@gmail.com">diogormsf@gmail.com</a></p>
    <p class="icon-line">GitHub: <a href="https://github.com/diogormsf" target="_blank">
      <img src="assets/github.png" alt="GitHub Repo" class="icon-contacts">
    </a></p>
  </div>
  <br>
  <div class="elem-team">
    <h2>Francisco Cordeiro</h2>
    <p>Email: <a href="mailto:franciscordeiro99@gmail.com">franciscordeiro99@gmail.com</a></p>
    <p class="icon-line">GitHub: <a href="https://github.com/c0rdeiro" target="_blank">
      <img src="assets/github.png" alt="GitHub Repo" class="icon-contacts">
    </a></p>
  </div>
  <br>
  <div class="elem-team">
    <h2>Henrique Cabral</h2>
    <p>Email: <a href="mailto:mail@henriquecabral.net">mail@henriquecabral.net</a></p>
    <p class="icon-line">GitHub: <a href="https://github.com/henriquecabral" target="_blank">
      <img src="assets/github.png" alt="GitHub Repo" class="icon-contacts">
    </a></p>
  </div>
  <br>
  <div class="elem-team">
    <h2>Sebastian Cheregi</h2>
    <p>Email: <a href="mailto:sebastian.cheregi@gmail.com">sebastian.cheregi@gmail.com</a></p>
    <p class="icon-line">GitHub: <a href="https://github.com/Seeebas" target="_blank">
      <img src="assets/github.png" alt="GitHub Repo" class="icon-contacts">
    </a></p>
  </div>

</div>
