<div class="toolbar" role="banner">
  <div class="logo-container">
    <a routerLink="home">
      <img src="assets/logo_transparent.png" alt="Logo" class="logo-header">
    </a>
  </div>

  <mat-nav-list id="list-horizontal">
    <a mat-list-item routerLink="{{link}}" routerLinkActive="active-link" *ngFor="let link of links"> {{ link | titlecase }} </a>
  </mat-nav-list>

  <div class="icon-container">
    <a href="https://github.com/Montserrat-14/system-optimizer-ui/" target="_blank">
      <img src="assets/github.png" alt="GitHub Repo" class="header-icon">
    </a>
    <a href="https://hub.docker.com/repository/docker/diogomfernandes/system-optimizer-ui" target="_blank">
      <img src="assets/docker.png" alt="Docker Hub Repo" class="header-icon">
    </a>
  </div>
</div>
