<form [formGroup]="operationsForm">
  <h3 class="mat-title">Please indicate the sequence of operations for each job:</h3>

  <mat-accordion class="example-headers-align" multi>
    <div formArrayName="jobOperations"
      *ngFor="let job of operationsForm.get('jobOperations')['controls']; let i = index">
      <mat-expansion-panel [formGroupName]="i">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ job.value.name ? job.value.name : "" }}
          </mat-panel-title>
          <mat-panel-description>
            {{ job.value.description ? job.value.description : "" }}
            <mat-icon>work</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <!-- Corpo do cartão -->
        <h4 class="mat-title">Please select one resource for each job and the time in there:</h4>

        <div style="display: flex; flex-direction: row;">

          <mat-select [(value)]="selectedResource" placeholder="Resource" style="flex: 3; align-self: center;">
            <mat-option *ngFor="let type of currentResources" [value]="type.name">
              {{type.name}}
            </mat-option>
          </mat-select>
          <input type="number" matInput placeholder="Estimated Time" [value]="selectedTime" style="flex: 3">
          <button mat-fab color="primary" aria-label="Add new row" (click)="addOperation()">
            <mat-icon>add</mat-icon>
          </button>
        </div>

      </mat-expansion-panel>
    </div>
  </mat-accordion>


  <div style="display: flex; flex-direction: row; justify-content: flex-end; margin-top: 20px;">
    <div>
      <button mat-fab aria-label="Previous Page" matStepperPrevious>
        <mat-icon>navigate_before</mat-icon>
      </button>
      <button mat-fab color="primary" aria-label="Next Page" matStepperNext>
        <mat-icon>navigate_next</mat-icon>
      </button>
    </div>
  </div>
</form>
