<h3 class="mat-title">Solution Duration:</h3>
<form [formGroup]="durationForm">
  <mat-slider
  id="duration"
  style="min-width: 100%;"
  thumbLabel
  formControlName="duration"
  [displayWith]="formatLabel"
  tickInterval="1"
  min="1"
  max="60"></mat-slider>
</form>
<div *ngIf="duration.invalid && (duration.dirty || duration.touched)" class="alert alert-danger">
  <div *ngIf="duration.errors.required">
  Please select a duration.
</div>
</div>

<div style="display: flex; flex-direction: row; justify-content: flex-end; margin-top: 20px;">
  <div>
    <button mat-fab aria-label="Previous Page" matStepperPrevious>
      <mat-icon>navigate_before</mat-icon>
    </button>
    <button mat-fab color="primary" aria-label="Next Page" matStepperNext>
      <mat-icon>navigate_next</mat-icon>
    </button>
  </div>
</div>
