<h3 class="mat-title">Solution Duration:</h3>
<form [formGroup]="durationForm">
  <mat-slider
  id="duration"
  style="min-width: 100%;"
  thumbLabel
  formControlName="duration"
  [displayWith]="formatLabel"
  tickInterval="1"
  min="1"
  max="60"></mat-slider>
</form>
<div *ngIf="duration.invalid && (duration.dirty || duration.touched)" class="alert alert-danger">
  <div *ngIf="duration.errors.required">
  Please select a duration.
</div>
</div>

<div class="buttonArea">
  <button mat-raised-button matStepperPrevious>Back</button>
  <button mat-raised-button color="primary" matStepperNext>Next</button>
</div>
